@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    color: #ffffff;
    font-family: "Poppins","sans-serif"; 
}
body{
 
    background-color: #000000e8;
}
.logo{
    height: 40px; 
}
.fa-bars{
    display: none; 
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 15px; 
    margin-top: 30px;
}
.list{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.fa-sort-down{
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    bottom: 4px;
}

.banner{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 40px;
    align-items: cnter;
}
.hero-img-cont{
   height: 100%;
   width: 50%;
}
.large-img{
    height: 100%;
    width: 100%;
    /* position: relative;
    left: 200px; */

}
.bannner-content{
     display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
    width: 30%;
    /* position: relative;
    left: 200px;
    top: 100px; */

}
.banner-content-heading h1{
   font-size: 40px;
   word-spacing: 10px;  
}
.banner-content-heading h3{ 
    position: relative;
    top: 40px;
    color: #FF3343; 
}
.banner-content-heading p{
    font-size: 12px;  
}
.about-me{
    background-color:#FF3343 ;
    font-size: 20px;
    padding: 10px 30px ; 
}



.left-bg{
    background-color: #b9b8b80c;
    width: 50%;
    padding-bottom: 30px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    margin-top: 40px;
    
}
.service{ 
    background-color: #ffffff2c;
    width:15%; 
    margin: 10px;
    padding: 30px 50px;
}
.service-img{
    height: 50px;
}
.know-more{
     color: #FF3343;
}

.fa-arrow-right{
    color: #FF3343;
}

.service-body p{
    font-size: 12px; 
    width: 80%;
}

.active-service{
background-color: #FF3343;
color: #ffffff;
}






.status{
    display: flex;
    flex-direction: row;
    justify-content:  center; 
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.left-status,.right-status{ 
    text-align: center;
    position: relative; 
    left:5%;
}
.left-status h1{ 
    font-size: 100px;
    color: #FF3343;
}
.left-status h3{    
    position: relative;
    bottom: 30px;
}

.right-status{ 
    display: flex;  
    flex-wrap: wrap;  
    width: 60%;
    /* position: relative; 
    right: 15px; */
}
.status-card{
    width: 35%; 
    text-align: center;
    margin: 20px;
    background-color: #ffffff10;
    position: relative;
    left: 10%;
}
.status-card h1{
    color: #FF3343;
    font-size: 45px;
}



.projects-heading-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
}
.view-all,.contact-btn{
    background-color: #FF3343;
    padding: 10px 40px;
    font-size: 15px;
    border: none;
}


.project-cards{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 77%;
    position: relative;
    left: 165px; 
}


.project{
    width: 45%;    
    padding: 0px 23px;
}
.img-cont{ 
    background-color: #ffffff10;
     padding: 40px 20px;
     /* width: 80%; */
}
.img-cont img{
    width: 100% ; 
    /* position: relative; 
    left: 25px; */

}

.project-heading{
  margin-top: 10px;
}







.contact-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 100px; 
    background-color: #ffffff10;
    padding: 60px  0px;
    width: 75%;
    position: relative;
    left: 90px;
}
.contact-left h2{ 
  font-size: 40px;
  word-spacing: 2px;
}
.contact-left p{ 
  font-size: 13px; 
}

.list-2{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;


}
.list-2-item{
    padding: 40px 5px;
   font-size: 12px; 

}

footer{
    background-color: #ffffff10;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.social-media{
    position: relative;
    right: 300px;
}
.social-media img{
    padding: 10px;
}
.logo{
    position: relative;
    right: 100px;
}












@media screen and (max-width:950px){
    .list{
        display: none;
    }   
    .fa-bars{
        display: block;
        font-size: 30px;
        color: #ffffff;
    }
    .service-body p{
        font-size: 10px; 
        width: 100%;
    }
    .know-more{
        font-size: 13px;
   }
   .contact-cont{ 
    margin: 20px 10px;   
    width: 100%;
    position: relative;
    left: 0px;
}
}

@media screen and (max-width:685px){
   .banner{
    flex-direction: column;
    align-items: center;
    width: 100%;
   }
   .hero-img-cont,.bannner-content{
    width: 70%;
    text-align: center;
    align-items: center;

   }
   .services{
    flex-direction: column;
    align-items: center;
    width: 100%;
   }
   .service{  
    width:40%;   
}
.status{
    flex-direction: column;
}
.right-status{
    width: 100%;
    left: 0px;
}
.projects-heading-div{
    flex-direction: column;
    align-items: center;
}

.project-cards{
    flex-direction: column;
    left: 0px;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.contact-cont{
    flex-direction: column;
}
footer{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.social-media{ 
    right: 0px;
}
.logo{ 
    right: 0px;
}
}
